body{
    margin:0;
    padding:0;
    font-family:Arial;
    overflow-x:hidden;
    min-height:100vh;

    background:linear-gradient(
        135deg,
        #ff9ec4,
        #ffb6d9,
        #ffcce5,
        #ffd6eb
    );

    background-size:400% 400%;

    animation:bgMove 10s ease infinite;
}

/* FALLING HEARTS */

body::before{
    content:"❤️ 💖 💕 💞 ❤️ 💖";
    position:fixed;
    top:-50px;
    left:0;
    width:100%;
    font-size:35px;
    display:flex;
    justify-content:space-around;
    animation:heartsFall 10s linear infinite;
    pointer-events:none;
    z-index:999;
}

/* INTRO */

.intro{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.birthday-text{
    color:white;
    font-size:75px;
    text-shadow:0 0 20px #ff006a;
    animation:fadeDown 2s;
    font-family:cursive;
    text-align:center;
}

/* MAIN HEART */

.main-heart{
    position:relative;
    width:220px;
    height:220px;
    background:red;
    transform:rotate(-45deg);
    animation:pulse 1.5s infinite;
    margin:60px;
}

.main-heart::before,
.main-heart::after{
    content:'';
    position:absolute;
    width:220px;
    height:220px;
    background:red;
    border-radius:50%;
}

.main-heart::before{
    top:-110px;
    left:0;
}

.main-heart::after{
    left:110px;
    top:0;
}

/* BUTTON */

.start-btn{
    padding:18px 35px;
    border:none;
    border-radius:20px;
    background:white;
    color:#ff4081;
    font-size:24px;
    cursor:pointer;
    transition:0.4s;
    box-shadow:0 0 20px rgba(255,255,255,0.7);
}

.start-btn:hover{
    transform:scale(1.1);
}

/* WAYS */

.ways{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.choose-title{
    color:white;
    font-size:60px;
    text-shadow:0 0 20px #ff006a;
}

.buttons button{
    padding:18px 35px;
    margin:20px;
    border:none;
    border-radius:20px;
    background:red;
    color:white;
    font-size:25px;
    cursor:pointer;
    transition:0.4s;
    box-shadow:0 0 20px rgba(255,0,90,0.5);
}

.buttons button:hover{
    transform:scale(1.1);
}

/* WAY 1 */

.way-title{
    text-align:center;
    margin-top:40px;
    color:white;
    font-size:50px;
    text-shadow:0 0 15px #ff006a;
}

.letters-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:60px;
}

.letter{
    width:100px;
    height:100px;
    background:white;
    border-radius:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:50px;
    cursor:pointer;
    transition:0.4s;
    box-shadow:0 0 15px rgba(255,255,255,0.8);
}

.letter:hover{
    transform:scale(1.1) rotate(8deg);
}

.message-box{
    margin-top:50px;
    text-align:center;
    color:white;
    font-size:35px;
    min-height:70px;
    animation:fade 1s;
    text-shadow:0 0 10px black;
}

.next-btn{
    display:none;
    margin:40px auto;
    padding:18px 35px;
    border:none;
    border-radius:20px;
    background:red;
    color:white;
    font-size:25px;
    cursor:pointer;
    box-shadow:0 0 20px rgba(255,0,90,0.5);
}

/* WAY 2 */

.heart-page{
    height:100vh;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.big-heart{
    width:260px;
    height:260px;
    background:red;
    position:relative;
    transform:rotate(-45deg) scale(0);
    animation:heartAppear 2s forwards;
}

.big-heart::before,
.big-heart::after{
    content:'';
    position:absolute;
    width:260px;
    height:260px;
    background:red;
    border-radius:50%;
}

.big-heart::before{
    top:-130px;
    left:0;
}

.big-heart::after{
    left:130px;
    top:0;
}

.love-text{
    color:white;
    font-size:55px;
    margin-top:60px;
    opacity:0;
    animation:textAppear 3s forwards;
    animation-delay:2s;
}

/* ANIMATIONS */

@keyframes bgMove{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }
}

@keyframes heartsFall{

    0%{
        transform:translateY(-100px);
    }

    100%{
        transform:translateY(120vh);
    }
}

@keyframes pulse{

    0%{
        transform:rotate(-45deg) scale(1);
    }

    50%{
        transform:rotate(-45deg) scale(1.1);
    }

    100%{
        transform:rotate(-45deg) scale(1);
    }
}

@keyframes heartAppear{

    from{
        transform:rotate(-45deg) scale(0);
    }

    to{
        transform:rotate(-45deg) scale(1);
    }
}

@keyframes textAppear{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes fade{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}

@keyframes fadeDown{

    from{
        opacity:0;
        transform:translateY(-50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.hidden{
    display:none;
}
