body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#f7a8be;
    overflow-x:hidden;
}

/* INTRO */

.intro{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.birthday-text{
    color:white;
    font-size:70px;
    animation:fadeDown 2s;
}

.main-heart{
    width:180px;
    height:180px;
    background:red;
    position:relative;
    transform:rotate(-45deg);
    animation:pulse 1.5s infinite;
    margin:50px;
}

.main-heart::before,
.main-heart::after{
    content:'';
    position:absolute;
    width:180px;
    height:180px;
    background:red;
    border-radius:50%;
}

.main-heart::before{
    top:-90px;
    left:0;
}

.main-heart::after{
    left:90px;
    top:0;
}

.start-btn{
    padding:18px 35px;
    border:none;
    border-radius:15px;
    background:white;
    color:#ff4081;
    font-size:22px;
    cursor:pointer;
}

/* WAYS */

.ways{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.buttons button{
    padding:18px 35px;
    margin:20px;
    border:none;
    border-radius:15px;
    background:red;
    color:white;
    font-size:25px;
    cursor:pointer;
}

/* WAY 1 */

.way-title{
    text-align:center;
    margin-top:40px;
    color:white;
    font-size:50px;
}

.letters-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:60px;
}

.letter{
    width:100px;
    height:100px;
    background:white;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:50px;
    cursor:pointer;
    transition:0.4s;
}

.letter:hover{
    transform:scale(1.1) rotate(8deg);
}

.message-box{
    margin-top:50px;
    text-align:center;
    color:white;
    font-size:35px;
    min-height:70px;
    animation:fade 1s;
}

.next-btn{
    display:none;
    margin:40px auto;
    padding:18px 35px;
    border:none;
    border-radius:15px;
    background:red;
    color:white;
    font-size:25px;
    cursor:pointer;
}

/* WAY 2 */

.heart-page{
    height:100vh;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.big-heart{
    width:240px;
    height:240px;
    background:red;
    position:relative;
    transform:rotate(-45deg) scale(0);
    animation:heartAppear 2s forwards;
}

.big-heart::before,
.big-heart::after{
    content:'';
    position:absolute;
    width:240px;
    height:240px;
    background:red;
    border-radius:50%;
}

.big-heart::before{
    top:-120px;
    left:0;
}

.big-heart::after{
    left:120px;
    top:0;
}

.love-text{
    color:white;
    font-size:50px;
    margin-top:60px;
    opacity:0;
    animation:textAppear 3s forwards;
    animation-delay:2s;
}

/* ANIMATIONS */

@keyframes pulse{
    0%{
        transform:rotate(-45deg) scale(1);
    }

    50%{
        transform:rotate(-45deg) scale(1.1);
    }

    100%{
        transform:rotate(-45deg) scale(1);
    }
}

@keyframes heartAppear{
    from{
        transform:rotate(-45deg) scale(0);
    }

    to{
        transform:rotate(-45deg) scale(1);
    }
}

@keyframes textAppear{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes fade{
    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}

@keyframes fadeDown{
    from{
        opacity:0;
        transform:translateY(-50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.hidden{
    display:none;
}
